{extend name='comm/base'}

{block name='box'}
    <form action=" AddSave" method="POST" id="addSave">
        <div class="form-group">
            <label>员工姓名</label>
            <input class="form-control" name="name" id="name">
        </div>
        <div class="form-group">
            <label>员工号</label>
            <input class="form-control" name="id" id="id">
        </div>
        <div class="form-group">
            <label>登录密码</label>
            <input class="form-control" name="pwd" type="password" id="pwd">
        </div>
        <div class="form-group">
            <label>员工性别</label>
            <select class="form-control" name="sex" id="sex">
                <option value="0">男</option>
                <option value="1">女</option>
            </select>
        </div>
        <div class="form-group">
            <label>常用电话</label>
            <input class="form-control" name="tel" id="tel">
        </div>
        <div class="form-group">
            <label>角色</label>
            <select class="form-control" name="actor" id="actor">
                <!-- 角色在数据库中，所以从后台获取 -->
                {volist name='actor' id='a'}
                    <option value="{$a.id}">{$a.name}</option>
                {/volist}
            </select>
        </div>
        <button class="btn btn-primary">
            提交
        </button>
    </form>

    <script>
        $(function(){
            $('#addSave').validate({
                rules:{
                    name:"required",
                    id:"required",
                    pwd:"required",
                    sex:"required"
                },
                messages:{
                    name:"请输入姓名！",
                    id:"请输入员工号！",
                    pwd:"密码不能为空！",
                    sex:"性别不能为空！"
                }
            });
        });
    </script>
{/block}