<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>好记小本后台管理系统</title>
    <link rel="stylesheet" href="__STATIC__/bootstrap-4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="__JS__/jquery-3.3.1.min.js"></script>
    <script src="__STATIC__/bootstrap-4.1.3/js/popper.min.js"></script>
    <script src="__STATIC__/bootstrap-4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__STATIC__/layui-v2.5.5/layui/css/layui.css">
    <script src="__STATIC__/layui-v2.5.5/layui/layui.js"></script>
    <style>
        body{
            background:url();
            background-size:cover;
            background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1569478815868&di=cae989c4430f4593da9c7ce05567fe8a&imgtype=0&src=http%3A%2F%2Fn.7k7kimg.cn%2Fm00%2F58%2Fb8%2Fa6705d32e8806f42b663fd6f946049a6.jpg);
        }
        #box{
            width:400px;
            height:400px;
            position:absolute;
            left:50%;
            top:50%;
            margin:-200px 0 0 -200px;
            background:rgba(255, 255, 255, 0.6);
            /* 圆角 */
            border-radius:10px;
            box-sizing:border-box;
            padding:10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="box">
            <h2>用户登录入口</h2>
            <form >
                <div class="form-group">
                    <label>用户名</label>
                    <input id="uid" class="form-control" placeholder="请输入用户名">
                </div>
                <div class="form-group">
                    <label>密码</label>
                    <input id="pwd" class="form-control" type="password" placeholder="请输入密码">
                </div>
                <div class="form-group">
                    <label>验证码</label>
                    <div class="form-inline">
                        <input id="vrt" class="form-control mr-3" style="width:80px">
                        <!-- 验证码点击刷新 -->
                        <!-- <img src="{:captcha_src()}" 
                        onclick="this.src='{:captcha_src()}?='+Math.random()"> -->
                        <img src="/captcha.html" 
                        onclick="this.src='/captcha.html?='+Math.random()"
                        style="cursor:pointer" title="点我刷新">
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" id="btnLogin" class="btn btn-primary">
                    <i class='fa fa-arrow-circle-right'></i>
                        登录
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script>
        // 这里使用AJAX方法提交数据，防止页面刷新带来不便
        $(function(){
            $('#btnLogin').click(function(){
                $u = $('#uid').val();
                $p = $('#pwd').val(); 
                $v = $('#vrt').val();
                if($u==''){
                    layui.use('layer', function(){
                        var layer = layui.layer;
                        layer.msg('请输入账号！');
                    });
                    $('#uid').focus();return false;
                } 
                if($p==''){
                    layui.use('layer', function(){
                        var layer = layui.layer;
                        layer.msg('请输入密码！');
                    });
                    $('#pwd').focus();return false;
                } 
                if($v==''){
                    layui.use('layer', function(){
                        var layer = layui.layer;
                        layer.msg('请输入验证码！');
                    });
                    $('#vrt').focus();return false;
                } 
                $.ajax({
                    url:'/admin/employee/check',
                    type:'post',
                    dataType:'json',
                    data:{ 
                        'uid':$u, 
                        'pwd':$p,
                        'vrt':$v  
                    },
                    success: function(msg){
                        //传递数据成功，弹出对方返回的数据
                        switch(msg){
                            case 0: 
                            layui.use('layer', function(){
                                var layer = layui.layer;
                                layer.msg('验证码错误！');
                            });
                            break;
                            case 2: 
                            layui.use('layer', function(){
                                var layer = layui.layer;
                                layer.msg('账号密码错误！');
                            });
                            break;
                            case 1: window.location.href='/admin/index/index';break;
                        }
                    },
                    error: function(){ 
                        layui.use('layer', function(){
                            var layer = layui.layer;
                            layer.msg('服务错误！');
                        });
                        // alert('服务错误！'); 
                    }
                });
            });
        });
    </script>
</body>
</html>